body {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding-top: 2%;
}

.sketch {
    height: 80vh;
    width: 80vw;
    border-bottom-color: rgb(209, 213, 219);
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border: 2px solid greenyellow;
    padding: 3%;

    gap: 25px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(209, 213, 219);
}

.settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 33%; */
    border-bottom: 2px solid black;
    padding-bottom: 2%;
}

.setting {
    display: flex;
    justify-content: space-between;
    gap: 3%;
}

.setting>button {
    /* border-radius: 8%;
     */
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.board {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 80%;
    border: 2px solid black;
    margin-top: 5%;
    /* border-radius: 2%; */
}

.row {
    display: flex;
    flex: 1;
}

.column {
    flex: 1;
    /* border: 2px solid blue; */
}